<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>PORTEFOLIO - JOSHUA DA COSTA</title>
</head>
<body>
<img id="backend" src="../static/imagens/Meufundo(1).jfif" alt="foto de fundo">
<header>
<figure>
    <h1><a id="iconeinicio" href="#">PORTEFOLIO</a></h1>
</figure>
<ul>
   <li><a id="iniciolink" href="#inicio">INICIO</a></li>
   <li><a id="trabalhoslink" href="#trabalhos">TRABALHOS</a></li>
   <li><a href="#experiencias">EXPERIENCIAS</a></li>
   <li><a href="#sobremim">SOBRE MIM</a></li>
   <li><a href="#contactos">CONTACTOS</a></li>
</ul>
<div class="tracos cima">

</div>
<div class="tracos baixo">

</div>

</header>
<main>
<section id="inicio" class="banner">
    <div id="parte-um">
        <img src="../static/imagens/joshuadacosta.jpg" alt="fotografia do autor do site">
        <img src="../static/imagens/Eu te disse.png" alt="fotografia da logo do autor do site">
    </div>
    <div id="parte-dois">
        <h1>Olá, sou o <span>Joshua Da Costa</span> e sou <span>programador</span>.</h1>
        <p>
            Bem vindo ao meu portefólio, onde serão apresentadas meus preojectos feitos, em andamentos e  projectos em apenas em ideias.
        </p>
    </div>
</section>
<section id="trabalhos" class="trabalhos">

</section>

</main>

<a id="copy" href="www.github.com/joshuadacosta/portefolio/licence">COPYRIGHT-JOSHUADACOSTA</a>
<script type="text/javascript" src="../static/javascript/index.js"></script>
</body>
</html>